  <ul class="site-category zero">
    <li{% if page.title == "Blog" %} class="selected"{% endif %}><a href="/blog">All Posts</a></li>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
        {% assign nodetotal = site.categories[node.title] %}
        <li{% if page.url == node.url or page.category == node.title %} class="selected"{% endif %}><a class="category-link"
            href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}<span class="count">{% if nodetotal.size != null %}{{ nodetotal.size }}{% else %}0{% endif %}</span></a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
