<header class="container d-flex{% if page.layout == "home" %} br-black{% endif %}">
  <h1 class="col col-3-12"><a href="{{ "/" | relative_url }}">SOHEE <i>Tech Blog</i></a></h1>
  <div class="col col-6-12">{%- include navigation.html -%}</div>
  <div class="col col-3-12">
    <a href="#" title="Search" alt="Search" class="btn-search in-search ico-search"></a>
    <a href="#" title="Menu" alt="Menu" id="btn-menu" class="vh"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="bar"></span></a>
  </div>
</header>
