<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }} — {{ site.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}
  
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  
  <!-- web font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">
  
  <!-- font icon -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
  <!-- css -->
  <link rel="stylesheet" href="{{ "/assets/css/common.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/sidebar.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/popup.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/post.css" | relative_url }}" />
  
  <link rel="stylesheet" href="{{ "/assets/css/pad.css" | relative_url }}" media="all and (min-width:769px) and (max-width:1023px)" />
  <link rel="stylesheet" href="{{ "/assets/css/mobile.css" | relative_url }}" media="all and (max-width:768px)" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mzlogin/rouge-themes@master/base16.monokai.dark.css">
  
  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
