<header>
  <div class="container d-flex">
    <h1><a href="{{ "/" | relative_url }}">SOHEE <i>Tech Blog</i></a></h1>
    <div class="w-nav d-flex">
      {%- include navigation.html -%}
      <a href="#" title="Search" alt="Search" class="btn-search in-search"><span class="material-symbols-outlined">search</span></a>
      <a href="#" title="Menu" alt="Menu" id="btn-menu" class="vh"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="bar"></span></a>
    </div>
  </div>
</header>
