<nav class="site-category">
  <ul>
    {% assign total = site.posts %}
    <li><a href="{{ "/" }}" class="type-small{% if layout == "default" %} active{% endif %}">All Posts({{ total.size }})</a></li>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
        {% assign nodetotal = site.categories[node.title] %}
        <li><a class="category-link type-small{% if page.url == node.url or page.category == node.title %} active{% endif %}"
            href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}({% if nodetotal.size != null %}{{ nodetotal.size }}{% else %}0{% endif %})</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
