<nav class="site-category">
  <ul>
    {% assign sum = site.posts | size %}
    <li><a href="{{ site.baseurl }}">All Posts({{ sum }})</a></li>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
          <li><a class="category-link {% if page.url == node.url %}active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}({{ pages_list[1].size }})</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
