<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            <li class="chapter{% if page.url == "/index.html" or page.url == "/" %} active{% endif %}" data-level="1.1" data-path="{{site.baseurl}}">            
                <a href="{{site.baseurl}}/">Home</a>
            </li>

            <li class="divider"></li>
          
            <!-- category loop -->
            {% for category in site.categories %}
                {% assign thiscategory = page.category | default: page.title %}
            <p>{{ thiscategory }}</p>
                <li{% if post.category == thiscategory.title || page.title == thiscategory.title %} class="active"{% endif %}><a href="/category/{{ category[0] }}">{{ category[0] }}<span class="count">({{ category[1] | size }})</span></a></li>
            {% endfor %}
            
            <li class="divider"></li>
        </ul>
    </nav>
</div>
