<div class="book-summary">
    <nav role="navigation">
        <ul class="summary">
            <li class="chapter{% if page.url == "/index.html" or page.url == "/" %} active{% endif %}" data-level="1.1" data-path="{{site.baseurl}}">            
                <a href="{{site.baseurl}}/">🍀 {{ site.title }}</a>
            </li>
            <li>
                <div id="book-search-input" role="search">
                    <input type="text" placeholder="Type to search" />
                </div>
                <div id="book-search-input-link" role="search">
                    <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
                </div>
            </li>
          
            <!-- category loop -->
            {% for category in site.categories %}
                <li{% if page.title == category[0] or page.category == category[0] %} class="active"{% endif %}><a href="/{{ category[0] | lowcase }}">{{ category[0] }}<span class="count">({{ category[1] | size }})</span></a></li>
            {% endfor %}
            
            <li class="divider"></li>
        </ul>
    </nav>
</div>
