// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706


/* variable */

:root {
  /* color */
  --color-white: #fff;
  --color-yellow: #f5f3e4;
  --color-blue: #b3c9bf;
  --color-green: #125b30;
  --color-light-gray: #f3f3f3;
  --color-gray: #e5e5e5;
  --color-black: #111;
  --color-opacity: 0.7;
  
  /* font size */
  --font-size: 14px;
  --font-small: 13px;
  --font-big: 16px;
  
  /* size */
  --size-10: 0.3rem;
  --size-20: 0.5rem;
  --size-30: 0.8rem;
  --size-40: 1rem;
  --size-50: 2rem;
  --size-60: 6rem;

}


/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection, *:target {
  background-color: var(--color-light-gray);
}

html { 
  height: 100%;
  background: white;
}

body {
  background: var(--color-yellow);
  font-family: 'Belgrano', 'Hahmlet', serif;
  color: var(--color-black);
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: -0.01rem;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.1s ease-in all;
}

ul, ol, li { 
  list-style: none;
}

ul.zero, ol.zero, ul.zero > li, ol.zero > li {
  font-size: 0;
  line-height: 0;
}

ul.zero a, ol.zero a {
  font-size: var(--font-size);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

hr {
  margin: 2rem 0;
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid var(--color-black);
  border-collapse: collapse;
}

code {
  color: white;
  background: var(--color-black);
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid var(--color-black);
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


/* layout */

.w {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--size-60) var(--size-50);
}
