// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706


/* variable */

:root {
  /* color */
  --color-hover: #f3f3f3;
  --color-opacity: 0.7;
  --color-gray: #e5e5e5;
  --color-black: #111;
  --color-yellow: #FFE57F;
  
  /* font */
  --font-size: 1rem;
  --font-small: 0.9rem;
  --font-big: 1.3rem;
  
  /* button */
  --button-height: 2rem;
  
  /* size */
  --space-basic: 2rem;
  --space-side: 12px;
  --space-sides: 8px;
}


/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection, *:target {
  background-color: var(--color-yellow);
  opacity: var(--color-opacity);
}

html, body { background: white; }

html { height: 100%; }

body {
  font-family: 'Belgrano', 'Hahmlet', serif;
  color: var(--color-black);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.1s ease-in all;
  }

ul, ol, li { list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size);
  font-weight: normal;
}

hr {
  margin: 2rem 0;
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid var(--color-black);
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: var(--color-black);
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid var(--color-black);
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


/* layout */

.w {
  max-width: 600px;
  margin: 0 auto;
  padding: var(--space-basic);
}
