---
---

@import "no-style-please";


/* layout */

::selection, *:target { background-color: var(--color-light-gray); }

html, body, header, footer { width: 100%; }

body {
  background: var(--color-white);
  font-family: 'Public Sans', 'Arial', 'Helvetica', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  color: var(--color-black);
  font-size: var(--font-size);
  line-height: 1.6;
  letter-spacing: -0.01rem;
  margin: 0;
  min-height: 100vh;
  overflow-wrap: break-word;
  padding-top: 62px;
}

body.bg-gray { background: var(--color-l-gray); }


/* header & footer */

header, header ul.zero a, footer, footer ul.zero a { font-size: var(--font-small); }

header, header nav > ul.zero > li > a, header .btn-search .material-symbols-outlined {
  height: 61px;
  line-height: 61px;
}


/* header */

header { 
  position: fixed;
  top: 0;
  left: 0;
  height: 62px;
  z-index: 999;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}

header .d-flex {
  justify-content: space-between;
  height: 61px;
}


  /* logo */
  header h1 a { 
    font-size: 17px; 
    font-family: 'PT Serif', 'Georgia', serif;
    background: url('/assets/images/common/logo.png') no-repeat;
    background-size: 17px 17px;
    background-position: left center;
    padding-left: 25px;
  }


  /* nav */
  header nav > ul > li { margin-right: var(--size-60); }
  header nav a:hover, header nav li.selected > a { color: var(--color-point); }

    /* menu bar */
    header #btn-menu {
      display: inline-block;
      width: var(--size-50);
      height: 61px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    header #btn-menu .bar {
      display: block;
      width: 100%;
      height: 1px;
      background: var(--color-black);
      position: absolute;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.1s ease-in-out;
      -moz-transition: 0.1s ease-in-out;
      -o-transition: 0.1s ease-in-out;
      transition: 0.1s ease-in-out;
    }

    header #btn-menu .bar:nth-child(1) { top: 24px; }
    header #btn-menu .bar:nth-child(2), header #btn-menu .bar:nth-child(3) { top: 30px; }
    header #btn-menu .bar:nth-child(4) { top: 36px; }

      /* open */
      header #btn-menu.open .bar:nth-child(1), header #btn-menu.open .bar:nth-child(4) {
        top: 30px;
        width: 0;
        left: 50%;
      }

      header #btn-menu.open .bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      header #btn-menu.open .bar:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

  /* search */
  header .btn-search .material-symbols-outlined {
    font-size: 25px;
    padding: 0;
  }


/* footer */

footer {
  color: var(--color-d-gray);
  padding-top: var(--size-90);
  padding-bottom: var(--size-60);
}

footer a:hover { color: var(--color-black); }
