---
---

/* import */

@import "no-style-please";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');


/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #FFE57F;
  opacity: 0.7;
}

body {
  font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
  color: #111;
  line-height: 1.5;
  }

a {
  text-decoration: none;
  color: inherit;
  transition: 0.1s ease-in all;
  }

ul, ol, li {
  list-style: none;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
}


/* layout */

.w {
  max-width: 600px;
  padding: 2rem;
}


/* header */

header {
  margin-bottom: 10rem;
  overflow: hidden;
}

header h1 {
  float: left;
}

header a.contact {
  float: right;
}


/* post */

article a {
  border-bottom: 1px solid rgba(17, 17, 17, 0.7);
  opacity: 0.7;
}

article a:hover {
  border-bottom-color: rgba(17, 17, 17, 1);
  opacity: 1;
}


