---
---

@import "no-style-please";


/* variable */

:root {
  
  /* color */
  --color-white: #fff;
  --color-point: #7575cf;
  --color-l-gray: #f3f3f3;
  --color-gray: #e0e0e0;
  --color-d-gray: rgba(17,17,17,0.5);
  --color-black: #111;
  --color-opacity: 0.7;
  
  /* font size */
  --font-size: 14px;
  --font-small: 13px;
  --font-big: 16px;
  
  /* size */
  --size-10: 4px;
  --size-20: 8px;
  --size-30: 12px;
  --size-40: 16px;
  --size-50: 24px;
  --size-60: 32px;
  --size-70: 48px;
  --size-80: 80px;
  --size-90: 96px;
  --size-100: 120px;
  --size-200: 240px;
 
}


/* web font icon */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20;
  font-size: 18px;
  vertical-align: text-bottom;
  padding-right: 3px;
}


/* common */

.vh { display: none !important; }

.m-auto { margin: 0 auto; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: var(--size-50);
  padding-right: var(--size-50);
}

.d-flex { display: flex; }
.d-i-flex, header nav ul.zero { display: inline-flex; }

.f-wrap { flex-wrap: wrap; }

a[target="_blank"]::after {
  content: "↗";
  padding-left: var(--size-10);
}

.count {
  font-size: 11px;
  background: var(--color-light-gray);
  padding: 1px 6px;
  border-radius: 100%;
  margin-left: var(--size-10);
  color: var(--color-point);
}


/* layout */

::selection, *:target { background-color: var(--color-light-gray); }

html, body, header, footer { width: 100%; }

body {
  background: var(--color-white);
  font-family: 'Public Sans', 'Arial', 'Helvetica', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  color: var(--color-black);
  font-size: var(--font-size);
  line-height: 1.6;
  letter-spacing: -0.01rem;
  margin: 0;
  min-height: 100vh;
  overflow-wrap: break-word;
  padding-top: 62px;
}

body.bg-gray { background: var(--color-l-gray); }


/* header & footer */

header, header ul.zero a, footer, footer ul.zero a { font-size: var(--font-small); }

header, header nav > ul.zero > li > a, header .btn-search .material-symbols-outlined {
  height: 61px;
  line-height: 61px;
}


/* header */

header { 
  position: fixed;
  top: 0;
  left: 0;
  height: 62px;
  z-index: 999;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}

header .d-i-flex { justify-content: space-between; }


  /* logo */
  header h1 a { 
    font-size: 17px; 
    font-family: 'PT Serif', 'Georgia', serif;
  }

  /* nav */
  header nav > ul > li { margin-right: var(--size-60); }

  header nav > ul > li a { color: var(--color-d-gray); }
  header nav a:hover, header nav li.selected > a { color: var(--color-black); }

    /* menu bar */
    header #btn-menu {
      display: inline-block;
      width: var(--size-50);
      height: 61px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    header #btn-menu .bar {
      display: block;
      width: 100%;
      height: 1px;
      background: var(--color-black);
      position: absolute;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.1s ease-in-out;
      -moz-transition: 0.1s ease-in-out;
      -o-transition: 0.1s ease-in-out;
      transition: 0.1s ease-in-out;
    }

    header #btn-menu .bar:nth-child(1) { top: 24px; }
    header #btn-menu .bar:nth-child(2), header #btn-menu .bar:nth-child(3) { top: 30px; }
    header #btn-menu .bar:nth-child(4) { top: 36px; }

      /* open */
      header #btn-menu.open .bar:nth-child(1), header #btn-menu.open .bar:nth-child(4) {
        top: 30px;
        width: 0;
        left: 50%;
      }

      header #btn-menu.open .bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      header #btn-menu.open .bar:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

  /* search */
  header div.col-3-12 { text-align: right; }
  header .btn-search .material-symbols-outlined {
    font-size: 25px;
    padding: 0;
  }


/* footer */

footer {
  color: var(--color-d-gray);
  padding-top: var(--size-90);
  padding-bottom: var(--size-60);
}


  footer .sitemap a[class*="social"] { margin-right: var(--size-30); }

  footer .sitemap a[class*="social"] svg {
    vertical-align: text-bottom;
    fill: currentColor;
    margin-right: 5px;
  }


/* dropdown menu */

#menu-wrap, #search-wrap {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 99;
  }

  /* menu */
  #menu-wrap {
    background: var(--color-white);
  }

  /* search */
  #search-wrap {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    height: calc(100% - 60px);
    padding-top: var(--size-100);
    padding-bottom: var(--size-100);
  }

  #search-bar input {
    width: 100%;
    height: var(--size-70);
    border: 1px solid var(--color-black);
    padding: 0 var(--size-30);
  }

  #results-wrap {
    margin-top: var(--size-70);
    overflow-y: scroll;
  }

/* section */
section > article { padding-top: var(--size-80); }

#sidebar { border-right: 1px solid var(--color-gray); }

