/* screen max width 768px */


/* display none */
header .w-nav > nav { display: none !important; }


/* display block */
header #btn-menu { display: inline-block !important; }


/* width */
header h1 { width: auto !important; }
#main .post-list > li { width: 100%; }


/* header */
header { justify-content: space-between; }

