/* screen max width 768px */


/* grid */

.container {
  padding-left: var(--size-50);
  padding-right: var(--size-50);
}

.col { 
  padding-left: var(--size-20);
  padding-right: var(--size-20);
}




/* display none */
header .h-nav, header .btn-search.in-search { display: none !important; }


/* display block */
header #btn-menu { display: inline-block !important; }
#menu-wrap nav li.vh { display: block !important; }


/* width */
header h1 { width: auto !important; }
footer .sitemap .col-3-12, footer .copy .col-6-12 { width: 100%; }


/* header */
header { justify-content: space-between; }

