/* screen min width 769px and max width 1023px */


/* grid */

.container {
  padding-left: var(--size-50);
  padding-right: var(--size-50);
}

.col { 
  padding-left: var(--size-20);
  padding-right: var(--size-20);
}

.col-2-8 { width: calc((100% / 3) * 1); }
.col-3-8 { width: calc((100% / 3) * 1); }
.col-6-8 { width: 100%; }


/* header */

/* nav */
header nav > ul > li { display: none; }
header nav > ul > li.vh { display: block; }


/* footer */
footer .sitemap .col-4-8 { display: none; }
