
/* dropdown menu */

#w-menu, #w-search {
    position: fixed;
    top: 0;
    z-index: 999;
  }

  /* menu */
  #w-menu {
    top: 60px;
    left: 0;
    width: 100%;
    background: var(--color-white);
  }

  /* search */
  #w-search {
    right: 0;
    width: 100%;
    height: 100vh;
  }

  #w-search #bg-search {
    background: var(--color-d-gray);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
  }

  #w-search .container {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    width: 100%;
    height: 100vh;
    max-width: 440px;
    padding: var(--size-70);
  }

  #bar-search { margin-bottom: var(--size-60); }

  #bar-search label { font-size: 18px; }

  #bar-search input {
    width: 100%;
    height: var(--size-70);
    border: 1px solid var(--color-black);
    padding: 0 var(--size-30);
    margin-top: var(--size-50);
  }

  #w-results {
    margin-top: var(--size-70);
    overflow-y: scroll;
  }

  #btn-s-close {
    position: absolute;
    right: 40px;
    top: var(--size-70);
  }

  #btn-s-close .material-symbols-outlined {
    font-size: 28px;
    padding-right: 0;
  }
