/* post */


/* list */

.post-list {
  padding-top: var(--size-200);
  padding-bottom: var(--size-70);
  font-size: var(--font-small);
}

.post-list > li {
  padding: 0 var(--size-50);
  margin-bottom: var(--size-90);
  width: calc( 100% / 2 );
}

#main .post-list > li { width: calc( 100% / 3 ); }

  /* post meta */
  .post-list .post-date, .post-list .post-category { color: var(--color-d-gray); }
  .post-list .post-teaser, .post-list .post-excerpt  { margin-top: var(--size-50); }

