/* post */



/* list */

.post-list {
  padding-bottom: var(--size-70);
  font-size: var(--font-small);
}

.post-list > li {
  padding: 0 var(--size-50);
  margin-bottom: var(--size-90);
  width: calc( 100% / 2 );
}

#main .post-list > li { width: calc( 100% / 3 ); }

  /* post list - meta */
  .post-list .post-date, .post-list .post-category { color: var(--color-d-gray); }
  .post-list .post-teaser, .post-list .post-excerpt  { margin-top: var(--size-50); }




/* detail */


/* post detail - meta */

.page-post { line-height: 1.8; }

.page-post .post-meta { 
  padding-bottom: var(--size-50); 
  margin-bottom: var(--size-70); 
  border-bottom: 1px solid var(--color-gray);
}

.page-post .post-category { margin-bottom: var(--size-40); }
.page-post .post-category a, .page-post .post-date { color: var(--color-d-gray); }

.page-post .post-title { font-size: 32px; }

.page-post .w-post-tags {
  padding-top: var(--size-50); 
  margin-top: var(--size-80); 
  border-top: 1px dashed var(--color-gray);
}

.page-post .w-post-tags h5 {
  padding: var(--size-10) 0;
  margin-right: var(--size-50);
}

.page-post .w-post-tags h5 .material-symbols-outlined {
  font-size: 20px;
  vertical-align: middle;
}



/* post detail - contents */

.page-post .post-content { font-size: var(--font-big); }



