.markdown-section div.highlighter-rouge { margin: 40px 0; }

div.highlighter-rouge, figure.highlight {
  position: relative;
  line-height: 40px;
}

pre.highlight { padding: 20px 5px; }

.highlight table, .highlight table td, .highlight table th, .highlight table tr { 
  border: 0;
  padding: 0;
  background: #272822;
  margin-bottom: 0;
}

 /* line numbers*/
 .gutter, .rouge-gutter, .highlight table td.rouge-gutter {
    width: 1em;
    color: #999;
    border-right: 1px solid #444;
    text-align: right;
    vertical-align: top;
      
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #f8f8f2;
  background-color: #272822;
}

.markdown-section pre { background-color: #272822; }

.highlight {
  margin-bottom: 30px;
  margin-top: 27px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  border-radius: 10px;
}
.highlight .err {
  color: #272822;
  background-color: #f92672;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #75715e;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #f8f8f2;
}
.highlight .p, .highlight .pi {
  color: #f8f8f2;
}
.highlight .gr {
  color: #960050;
}
.highlight .gt {
  color: #960050;
}
.highlight .gi {
  color: #a6e22e;
}
.highlight .gd {
  color: #f92672;
}
.highlight .gh {
  color: #66d9ef;
  background-color: #272822;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #ae81ff;
}
.highlight .kc {
  color: #fd971f;
}
.highlight .kt {
  color: #fd971f;
}
.highlight .kd {
  color: #fd971f;
}
.highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #a6e22e;
}
.highlight .sr {
  color: #a1efe4;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .ge {
  color: #49483e;
}
.highlight .nb {
  color: #f6aa11;
}
.highlight .si {
  color: #cc6633;
}
.highlight .se {
  color: #cc6633;
}
.highlight .vc {
  color: #00cdcd;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nl {
  color: #00cdcd;
}
.highlight .ni {
  color: #00cdcd;
}
.highlight .bp {
  color: #00cdcd;
}
.highlight .vg {
  color: #00cdcd;
}
.highlight .vi {
  color: #00cdcd;
}
.highlight .nv, .highlight .vm {
  color: #00cdcd;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .nd {
  color: #a6e22e;
}
.highlight .ne {
  color: #a6e22e;
}
.highlight .nf, .highlight .fm {
  color: #a6e22e;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #66d9ef;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #a6e22e;
}
.highlight .ss {
  color: #a6e22e;
}
/* Name */
.highlight .n {
  color: #ffffff;
}
.highlight .py, .highlight .nx {
  color: #ffffff;
}
