---
layout: default
---

<div class="container page-category">
  <div class="w col col-6">
    <h2>{{ page.title }}</h2>
    <!-- category page -->
    {% if page.title == "Category" %}{%-include navigation.html-%}{% endif %}
    <!-- tags page -->
    {% if page.title == "Tags" %}
      <div>
        {% for tag in site.data.tags %}
          <a href="#" class="item-tag" data-tag="{{tag}}">{{ site.data.format[tag] }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{%-include post_list.html category=page.which_category-%}
