---
layout: default
---

<ul class="container post-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li class="col col-3">
      <p class="post-date">{{- post.date | date: site.theme_config.date_format -}}</p>
      <p class="post-title"><span>{{ post.category | capitalize }}</span><a href="{{ post.url | relative_url }}">{{ post.title | capitalize }}</a>
      <div class="post-teaser"><a href="{{ post.url | relative_url }}"><img src="{{ post.teaser | relative_url }}" alt="{{ post.title | capitalize }}" /></a></div>
    </li>
  {%- endfor -%}
</ul>
