---
layout: default
---

<article class="container page-post d-flex">
  <div class="col col-3-12 post-meta">
    <h4>Post Details</h4>
    <p>Published <time datetime="{{ page.date }}" class="type-small">{{ page.date | date: site.theme_config.date_format }}</time></p>
    <p>{{ last_modified_at }}</p>
    <h4>Category</h4>
    <p><a href="/category/{{ page.category }}">{{ page.category | capitalize }}</a></p>
    {% if page.tags %}
      <h4>Tags</h4>
      <ul class="zero">
        {% for tag in page.tags %}
          {% if site.data.tags contains tag %}
            <li><a href="/tags/?tag={{ tag }}" class="item-tag">{{ site.data.format[tag] }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="col col-6-12">
    <h3 class="post-title">{{ page.title | capitalize }}</h3>
    <div class="post-content">{{ content }}</div>
  </div>
</article>

