---
layout: default
---

<article class="container c-pd-top c-pd-side page-post">
  <div class="post-meta">
    <p class="post-category"><a href="/category/{{ page.category }}">{{ page.category }}</a></p>
    <h3 class="post-title">{{ page.title }}</h3>
    <p class="post-date"><span class="material-symbols-outlined">schedule</span> Published <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>, Last Updated <time datetime="{{ page.last_modified_at }}">{{ page.last_modified_at | date: '%b %d, %Y' }}</time></p>
  </div>
  <div class="post-content">{{ content }}</div>
  {% if page.tags %}
    <div class="d-flex w-post-tags">
      <h5><span class="material-symbols-outlined">sell</span> Tags</h5>
      <ul class="post-tags zero">
        {% for tag in page.tags %}
          {% if site.data.tags contains tag %}
            <li><a href="/tags/?tag={{ tag }}" class="item-tag">{{ site.data.format[tag] }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</article>

