---
layout: default
---

<article class="container page-post">
  <div class="col col-2-8">
    <p>Categories</p>
    {%-include category.html-%}
  </div>
  <div class="col col-4-8">
    <div class="post-meta">
      <p><time datetime="{{ page.date }}" class="type-small">{{ page.date | date: site.theme_config.date_format }}</time><span>{{ page.category | capitalize }}</span></p>
      <h3 class="post-title">{{ page.title | capitalize }}</h3>
    </div>
    <div class="post-content">{{ content }}</div>
    <div class="post-tag">
      {% if page.tags %}
        {% for tag in page.tags %}
          {% if site.data.tags contains tag %}
            <a href="/tags/?tag={{ tag }}" class="item-tag">{{ site.data.format[tag] }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</article>

